<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Climax Refrigeración</title>

		<!--link
			href="https://cdn.jsdelivr.net/gh/DeybisMelendez/Jelly/jelly.min.css"
			rel="stylesheet"
			type="text/css"
		/-->
		{% load compile_static %} {% load static %}
		<!--link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/main.css' %}"
		/-->
		<link rel="stylesheet" href="{% static "less/main.less"|compile %}" />

		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		{% include "includes/nav.html" %}
		<div class="container">{% block content %} {% endblock %}</div>
	</body>
</html>
