{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Climax Refrigeración</title>

		<link rel="stylesheet" href="{% static 'css/jelly.min.css' %}" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body style="background-color: #eee">
		{% include "includes/nav.html" %}
		<div class="container block">
			<div class="panel white-bg">{% block content %} {% endblock %}</div>
		</div>
	</body>
</html>
