{% extends 'layouts/base.html' %} {% block content %}

<div class="grid">
	<div class="s12 grid">
		<div class="flex align-center s10">
			<i class="material-icons">person</i>
			<h1>Clientes</h1>
		</div>
		<div class="s2 flex align-center">
			<a href="{% url 'customer_create'%}" class="s12 button blue-bg white"
			><i class="material-icons">person_add</i>
			Añadir cliente</a>
		</div>
	</div>
	<div class="s12 grid">
		
		<form action="{% url 'customer_search' %}" method="GET" class="s12 flex align-center">
			<input
				class="full-width"
				type="text"
				name="q"
				placeholder="Buscar clientes..."
			/>
	</div>
	</form>
	<table class="s12">
		<tr>
			<th>Cliente</th>
			<th>RUC</th>
			<th>Teléfono</th>
			<th>Email</th>
			<th>Ciudad</th>
			<th>Dirección</th>
			<th>Acciones</th>
		</tr>
	
		{% for customer in customers %}
		<tr>
			<td>{{customer.name}}</td>
			<td>{{customer.ruc}}</td>
			<td>{{customer.phone}}</td>
			<td>{{customer.email}}</td>
			<td>{{customer.city}}</td>
			<td>{{customer.address}}</td>
			<td class="flex">
				<a href="{% url 'customer_update' customer.id %}" class="orange"><i class="material-icons">edit</i></a>
				<a href="{% url 'customer_delete' customer.id %}" class="red"><i class="material-icons">delete</i></a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
