{% extends 'layouts/base.html' %} {% block content %}

<header class="header">
	<i class="material-icons">person</i>
	<h2>Clientes</h2>
</header>
<div class="searchbar">
	<a href="{% url 'customer_create'%}" class="button green-bg">
		<i class="material-icons">person_add</i>Añadir cliente
	</a>
	<form action="{% url 'customer_search' %}" method="GET">
		<input type="text" name="q" placeholder="Buscar clientes..." />
	</form>
</div>

<table>
	<tr>
		<th>Cliente</th>
		<th>RUC</th>
		<th>Teléfono</th>
		<th>Email</th>
		<th>Ciudad</th>
		<th>Dirección</th>
		<th>Acciones</th>
	</tr>

	{% for customer in customers %}
	<tr>
		<td>{{customer.name}}</td>
		<td>{{customer.ruc}}</td>
		<td>{{customer.phone}}</td>
		<td>{{customer.email}}</td>
		<td>{{customer.city}}</td>
		<td>{{customer.address}}</td>
		<td class="flex">
			<a href="{% url 'customer_update' customer.id %}"
				><i class="material-icons orange">edit</i></a
			>
			<a href="{% url 'customer_delete' customer.id %}"
				><i class="material-icons red">delete</i></a
			>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
