<nav class="navbar">
	<h1>Climax</h1>
	<ul class="menu">
		<a href="/" class="item">Inicio</a>
		<a href="{% url 'quote_search' %}" class="item">Cotizaciones</a>
		<a href="{% url 'customer_search'%}" class="item">Clientes</a>
		<a href="{% url 'settings'%}" class="item">Ajustes</a>
	</ul>
</nav>

<!--<script>
	const menuToggle = document.querySelector(".menu-toggle");
	const menu = document.querySelector(".menu");

	menuToggle.addEventListener("click", () => {
		menu.classList.toggle("show-menu");
	});
</script>
-->
