{% extends 'base.html' %} {% block content %}
<h1>Cotizaciones</h1>
<form action="{% url 'quote_search' %}" method="GET">
	<input type="text" name="q" placeholder="Buscar cotización..." />
	<button type="submit">Buscar</button>
</form>
<ul>
	{% for quote in quotes %}
	<li>
		<a href="{% url 'quote_detail' quote.number %}">{{ quote }}</a>
		<form
			method="POST"
			action="{% url 'quote_delete' quote.number %}"
			style="display: inline"
		>
			{% csrf_token %}
			<input type="hidden" name="quote_id" value="{{ quote.id }}" />
			<button type="submit">Eliminar</button>
		</form>
	</li>
	{% empty %}
	<li>No hay cotizaciones.</li>
	{% endfor %}
</ul>
{% endblock %}
