{% extends 'layouts/base.html' %} {% block content %}
<h1>Nueva cotización</h1>
<form method="post" class="flex">
	{% csrf_token %}
	<div class="grid gap-1">
		<div class="s6 m4 l2">{{form.date.label_tag}} {{form.date}}</div>
		<div class="s6 m4 l2">
			{{form.customer.label_tag}} {{form.customer}}
		</div>
		<div class="s6 m4 l2">{{form.contact.label_tag}} {{form.contact}}</div>
		<div class="s6 m4 l2">
			{{form.currency.label_tag}} {{form.currency}}
		</div>
		<div class="s6 m4 l2">{{form.unit.label_tag}} {{form.unit}}</div>
		<div class="s6 m4 l2">
			{{form.expiration.label_tag}} {{form.expiration}}
		</div>
		<div class="s12">
			{{form.description.label_tag}} {{form.description}}
		</div>
		<div class="s12">{{form.note.label_tag}} {{form.note}}</div>
	</div>
	{{ formset.management_form }}
	<table id="item-table" class="s12">
		<thead>
			<tr>
				<th>Cantidad</th>
				<th>Descripción</th>
				<th>Precio unitario</th>
				<th>Total</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="items-formset"></tbody>
	</table>

	<div class="flex justify-space-evenly">
		<a href="#" id="add-row" class="button blue-bg white">Agregar fila</a>
		<button type="submit" class="button green-bg white" class>
			Crear Cotización
		</button>
	</div>
</form>
{% load static %}
<script src="{% static 'js/items.js' %}"></script>
{% endblock %}
