{% extends 'layouts/base.html' %} {% block content %}
<h6 class="red flex align-center">
	<span class="material-icons">warning</span>Eliminar Cotización
</h6>
<p>¿Estás seguro que deseas eliminar la cotización <b>"{{ quote }}"</b>?</p>
<form method="post">
	{% csrf_token %}
	<button type="submit" class="button red-bg white">
		<span class="material-icons">delete</span> Eliminar
	</button>
	<a href="{% url 'quote_search' %}" class="button orange-bg white"
		><span class="material-icons">cancel</span> Cancelar</a
	>
</form>
{% endblock %}
