{% extends 'layouts/base.html' %} {% block content %}
<div class="detail_options">
	<a
		href="{% url 'quote_pdf' quote.number %}"
		class="button green-bg"
		target="_blank"
	>
		<i class="material-icons">file_download</i> Generar PDF
	</a>
	<a href="{% url 'quote_update' quote.number %}" class="button orange-bg">
		<i class="material-icons">edit</i>Editar esta cotización
	</a>
	<a href="{% url 'quote_delete' quote.number %}" class="red-bg button">
		<i class="material-icons">delete</i>Eliminar esta cotización
	</a>
</div>
<div class="pdf_box">{% include "quote/base_detail.html" %}</div>
{% endblock %}
