{% extends 'layouts/base.html' %} {% block content %}
<a
	class="button green-bg white"
	href="{% url 'quote_pdf' quote.number %}"
	target="_blank"
>
	<span class="material-icons">file_download</span> Generar PDF
</a>
<a href="{% url 'quote_update' quote.number %}" class="button orange-bg white">
	<span class="material-icons">edit</span>Editar esta cotización
</a>
<a href="{% url 'quote_delete' quote.number %}" class="button red-bg white">
	<span class="material-icons">edit</span>Eliminar esta cotización
</a>
<div>{% include "quote/base_detail.html" %}</div>
{% endblock %}
