{% extends 'layouts/base.html' %} {% block content %} {% load humanize %}
<header class="header">
	<i class="material-icons">description</i>
	<h2>Cotizaciones</h2>
</header>
<div class="searchbar">
	<a href="{% url 'quote_create'%}" class="button green-bg"
		><i class="material-icons">note_add</i> Crear Cotización</a
	>
	<form action="{% url 'quote_search' %}" method="GET" class="">
		<input
			type="text"
			name="q"
			placeholder="Buscar cotizaciones..."
			value="{{ request.GET.q|default:'' }}"
		/>
	</form>
</div>
<div>
	<table>
		<tr>
			<th>No</th>
			<th>Fecha</th>
			<th>Cliente</th>
			<th>Descripción</th>
			<th>Total</th>
			<th>Acciones</th>
		</tr>
		{% for quote in quotes %}
		<tr>
			<td>{{quote.number}}</td>
			<td>{{quote.date|date:'d/m/Y'}}</td>
			<td>
				<a href="{% url 'quote_detail' quote.number %}"
					>{{quote.customer.name}}</a
				>
			</td>
			<td>{{quote.description|truncatechars:64}}</td>
			<td class="right-text">
				{{quote.unit}} {{ quote.total|floatformat:2|intcomma }}
			</td>
			<td class="flex">
				<a href="{% url 'quote_update' quote.number %}"
					><i class="material-icons orange">edit</i></a
				>
				<a href="{% url 'quote_delete' quote.number %}"
					><i class="material-icons red">delete</i></a
				>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="5">No hay cotizaciones.</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
