{% extends 'layouts/base.html' %} {% block content %}

<h1>Actualizar cotización</h1>
<form method="post">
	{% csrf_token %}
	<label for="{{ form.customer.id_for_label }}">Cliente:</label>
	{{ form.customer }}

	<label for="{{ form.description.id_for_label }}">Descripción:</label>
	{{ form.description }}

	<label for="{{ form.note.id_for_label }}">Nota:</label>
	{{ form.note }} {{ formset.management_form }}
	<table id="item-table">
		<thead>
			<tr>
				<th>Cantidad</th>
				<th>Descripción</th>
				<th>Precio unitario</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for form in formset %}
			<tr>
				<td>{{ form.quantity }}</td>
				<td>{{ form.description }}</td>
				<td>{{ form.price }}</td>
				<td>
					{{ form.id }} {{ form.DELETE }}
					<!--<button class="remove-row">Eliminar</button>-->
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<button id="add-row">Agregar fila</button>

	<button type="submit">Guardar</button>
</form>

<script>
	function updateFormIndices() {
		const rows = document.querySelectorAll("#item-table tbody tr");
		rows.forEach(function (row, index) {
			const inputs = row.querySelectorAll("input");
			inputs.forEach(function (input) {
				const oldName = input.getAttribute("name");
				const newName = oldName.replace(/-\d+-/, "-" + index + "-");
				const oldId = input.getAttribute("id");
				const newId = oldId.replace(/-\d+-/, "-" + index + "-");
				input.setAttribute("name", newName);
				input.setAttribute("id", newId);
			});
		});
	}

	document
		.getElementById("add-row")
		.addEventListener("click", function (event) {
			event.preventDefault();
			const formset = document.getElementById("id_item_set-TOTAL_FORMS");
			const newIndex = parseInt(formset.value);
			const row = document.createElement("tr");
			row.innerHTML = `
            <td><input type="number" name="item_set-${newIndex}-quantity" id="id_item_set-${newIndex}-quantity"></td>
            <td><input type="text" name="item_set-${newIndex}-description" id="id_item_set-${newIndex}-description"></td>
            <td><input type="number" name="item_set-${newIndex}-price" id="id_item_set-${newIndex}-price"></td>
            <td><button class="remove-row">Eliminar</button></td>
            `;
			document.querySelector("#item-table tbody").appendChild(row);
			formset.value = newIndex + 1; // actualizar el número de formularios
		});

	document
		.querySelector("#item-table tbody")
		.addEventListener("click", function (event) {
			if (event.target.classList.contains("remove-row")) {
				event.preventDefault();
				event.target.closest("tr").remove();
				const formset = document.getElementById(
					"id_item_set-TOTAL_FORMS"
				);
				const numForms = parseInt(formset.value);
				formset.value = numForms - 1; // actualizar el número de formularios
				updateFormIndices();
			}
		});
</script>

{% endblock %}
