{% extends 'layouts/base.html' %} {% block content %}

<header class="header">
	<i class="material-icons">update</i>
	<h2>Modificar cotización</h2>
</header>

<form method="post">
	{% csrf_token %}
	<div>
		<div>{{form.date.label_tag}} {{form.date}}</div>
		<div>{{form.customer.label_tag}} {{form.customer}}</div>
		<div>{{form.contact.label_tag}} {{form.contact}}</div>
		<div>{{form.currency.label_tag}} {{form.currency}}</div>
		<div>{{form.unit.label_tag}} {{form.unit}}</div>
		<div>{{form.expiration.label_tag}} {{form.expiration}}</div>
		<div>{{form.description.label_tag}} {{form.description}}</div>
		<div>{{form.note.label_tag}} {{form.note}}</div>
	</div>
	{{ formset.management_form }}
	<div id="items">
		<table id="item-table" class="quantity-table">
			<thead>
				<tr>
					<th>Cantidad</th>
					<th>Descripción</th>
					<th>Precio unitario</th>
					<th>Total</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody id="items-formset">
				{% for form in formset %}
				<tr>
					<td>{{ form.quantity }}</td>
					<td>{{ form.description }}</td>
					<td>{{ form.price }}</td>
					<td class="total-item"></td>
					<td>{{form.id}} Eliminar:{{form.DELETE}}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tbody>
				<tr>
					<th colspan="3">Subtotal cotización</th>
					<td colspan="1" id="sub-total"></td>
					<td colspan="1">
						<a href="#!" id="add-row" class="button">
							<i class="material-icons green">add</i>
						</a>
					</td>
				</tr>
				<tr>
					<th colspan="3">Descuento</th>
					<td colspan="1">{{form.discount}}</td>
				</tr>
				<tr>
					<th colspan="3">Total cotización</th>
					<td colspan="1" id="total"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<button type="submit" class="button" class>
			<span class="material-icons">save</span> Guardar Cotización
		</button>
	</div>
</form>
{% load static %}
<script src="{% static 'js/items.js' %}"></script>
{% endblock %}
