{% extends 'layouts/base.html' %} {% block content %}

<h1>Cotización</h1>

<form method="post" class="flex justify-end">
	{% csrf_token %}
	<div class="grid gap-1">
		<div class="s6 m4 l2">{{form.date.label_tag}} {{form.date}}</div>
		<div class="s6 m4 l2">
			{{form.customer.label_tag}} {{form.customer}}
		</div>
		<div class="s6 m4 l2">{{form.contact.label_tag}} {{form.contact}}</div>
		<div class="s6 m4 l2">
			{{form.currency.label_tag}} {{form.currency}}
		</div>
		<div class="s6 m4 l2">{{form.unit.label_tag}} {{form.unit}}</div>
		<div class="s6 m4 l2">
			{{form.expiration.label_tag}} {{form.expiration}}
		</div>
		<div class="s12">
			{{form.description.label_tag}} {{form.description}}
		</div>
		<div class="s12">{{form.note.label_tag}} {{form.note}}</div>
	</div>
	{{ formset.management_form }}
	<div class="s12 grid" id="items">
		<table class="s12" id="item-table" style="overflow-x: auto">
			<thead>
				<tr>
					<th>Cantidad</th>
					<th>Descripción</th>
					<th>Precio unitario</th>
					<th>Total</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody id="items-formset">
				{% for form in formset %}
				<tr>
					<td>{{ form.quantity }}</td>
					<td>{{ form.description }}</td>
					<td>{{ form.price }}</td>
					<td><span class="total-item">0</span></td>
					<td>
						{{form.id}}
						<a href="#!" class="remove-row button red-bg white">
							<span class="material-icons">delete</span>
							Borrar
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="s12 flex justify-end">
			<a href="#!" id="add-row" class="button blue-bg white"
				>Agregar fila</a
			>
			<table>
				<tr>
					<th>Subtotal cotización</th>
					<td id="sub-total"></td>
				</tr>
				<tr>
					<th>Descuento</th>
					<td>{{form.discount}}</td>
				</tr>
				<tr>
					<th>Total cotización</th>
					<td id="total"></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="flex justify-space-evenly">
		<button type="submit" class="button green-bg white" class>
			Guardar Cotización
		</button>
	</div>
</form>
{% load static %}
<script src="{% static 'js/items.js' %}"></script>
{% endblock %}
